<h1 class="hd"> landing</h1>
<header>
    <h1>snapface</h1>
    <nav>
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="facesnaps" routerLinkActive="active">FaceSnaps</a>
        <a routerLink="facesnapsG1" routerLinkActive="active">FaceSnaps</a>
    </nav>
</header>



<div class="landing-block">
    <img src="assets/snapface.webp" alt="Snapface logo">
    <div class="landing-links">
        <a>Continuer vers Snapface img</a>
    </div>
</div>

<a class="ar" routerLink="facesnaps">Continuer vers Snapface</a>